		
/* -----搜尋列表裡面的東西------ */

		/* 查詢按鈕 */
	
	#submitbtn {

	background-color: #8bc34a;	
	border: 1px solid;
	border-color:  #8bc34a;
	border-radius: 3px;
	margin-top: 100px;
	margin-left: 64px;
	height: 40px;
	width: 150px;
	}
	
		/* 列表的div */

	.member-div {
		/* margin-top: 50px; */
		border-color: #f5f5f5;
		border : 1px solid;
	}


		/* 列表裡的個人照片 */
	
	.photo-size-forCaseListPhoto{
	
	height:60px;
	width:60px;

	}
 		/* 列表的文字 */
	
	span {
		font-size: 14px;
	}

		/* 列表的icon */

	.photo-size-forCseListIcon {
		height: 20px;
		width: 20px;
	}	
	
		/* 雇用按鈕 */
	.hirebtn {
		background-color: #8bc34a;	
		border: 1px solid;
		border-color:  #8bc34a;
		border-radius: 3px;
		margin-left: 40px;
		margin-top: 15px;
		height: 30px;
		width: 140px;
	}
 	
		/* 喜歡按鈕 */
	.savebtn {
		/* background-color: #8bc34a;	 */
		border: 1px solid;
		border-color:  #8bc34a;
		border-radius: 3px;
		margin-left: 40px;
		margin-top: 15px;
		height: 30px;
		width: 140px;
	}
		/* 一行字寬的空白div */
	
	#forSpace {
		
		height: 20px;
	}
	
		/* 案件列表 */
	.case-list {

		margin-top: 10px;
	}

	/* -----搜尋列表裡面的東西------ */





	/*--------- 人才搜尋ㄉ東西-------------- */


		body {

		background-color: #f5f5f5;
	}

		/* 尋找案件的整個表單 */
	
	.search-case {
		
		background-color: #fff;
		margin-top: 28px;
		font-size: 20px;
		

	}
	

		/* 排行榜ㄉ大小 */

	.rank-card{
		
	height:200px;
	width:200px;
	
	}


		/* 搜尋案件標題 */
	#title{
		height: 50px;
		text-align: center;
		font-size: 30px;
	}


		/* 每個搜尋條件的div(關鍵字,地區,類型搜尋) */
	
	.content-all {
		margin-top: 20px;
		padding-left: 70px;
	}
	

		/* 地區ㄉselect */
	
	.location {
		
		height: 30px;
		width: 300px;
		border-radius: 5px;
		border: 10px solid;
		border-color: #8bc34a;
	}

		/* 每個inputㄉtext區塊 */
	
	.input{

	border: 1.5px solid;
	height: 34px;
	width: 250px;
	border-color: #8bc34a;
	margin-left: 50px;
	
	}

		/* TOGGLE按鈕!! (WEB/APP切換) */
	
	.toggle.btn{

    min-width:100px;
  	min-height: 35px;
	margin-left: 28px;

	}	

		/* 查詢按鈕 */
	
	#submitbtn {

	background-color: #8bc34a;	
	border: 1px solid;
	border-color:  #8bc34a;
	border-radius: 3px;
	margin-top: 100px;
	margin-left: 64px;
	height: 40px;
	width: 150px;
	}


/*-------------------- 人才搜尋ㄉ東西---------------- */